html,
body {
  width: 100%;
  height: 100vh;
  min-height: 105%;
}

* {
  margin: 0px;
  padding: 0px;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.judul {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: "Merriweather";
  font-size: 70px;
  text-shadow: 5px 5px 5px #cfdace91;
  margin-bottom: 0;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  /* display: block; */
  /* vertical-align: bottom; */
}

.container .kolom h1 {
  position: relative;
}
.container .kolom .kolom1 {
  z-index: 1;
  border: 3px solid rgb(155, 150, 150);
  background: transparent;
  margin: 15px;
  border-radius: 22px 22px 22px 22px;
  position: relative;
  width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kolom1 p {
  padding: 10px;
  text-align: justify;
  color: white;
}
.kolom1:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: -5px 3px 10px #ffffff;
  cursor: grab;
}

.container .kolom {
  margin-bottom: 0px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  width: 100%;
}

.navbar {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar .nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar .nav .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: 0.5s ease-in-out; */
}

.navbar .nav:hover .box {
  transform: translateY(-10px);
}

.navbar .nav .box img {
  max-width: 100%;
  margin: 8px;
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}

.navbar .nav:hover .box img {
  transform: translateY(-25px) scale(1.2);
  opacity: 1;
}

.navbar .nav .konten {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.navbar .nav:hover .konten {
  opacity: 1;
  visibility: visible;
}

.navbar .nav .konten a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 12.5px;
  text-transform: uppercase;
}

.navbar .nav .konten a:hover {
  color: #c9e265;
}

@media screen and (max-width: 767px) {
  .judul {
    font-size: 50px;
  }
  #particles-js {
    height: 150%;
  }
}

@media screen and (max-width: 375px) {
  .judul {
    font-size: 25px;
  }

  #particles-js {
    height: 250%;
  }

  .col p {
    font-size: 14px;
  }
}

}
