body {
  background: rgb(0, 0, 0);
  /* width: 100%; */
  /* overflow-x: hidden; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#flipbook {
  width: 1100px;
  height: 550px;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 5;
  position: relative;
}

#flipbook img {
  width: 550px;
  height: 550px;
}

#flipbook .hard p {
  padding: 5px;
  font-family: "sofia";
}

.navbar {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

.navbar .nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar .nav .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: 0.5s ease-in-out; */
}

.navbar .nav:hover .box {
  transform: translateY(-10px);
}

.navbar .nav .box img {
  max-width: 100%;
  margin: 8px;
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}

.navbar .nav:hover .box img {
  transform: translateY(-25px) scale(1.2);
  opacity: 1;
}

.navbar .nav .konten {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.navbar .nav:hover .konten {
  opacity: 1;
  visibility: visible;
}

.navbar .nav .konten a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 12.5px;
  text-transform: uppercase;
}

.navbar .nav .konten a:hover {
  color: #c9e265;
}

.alert {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 850px;
  }
  #flipbook {
    width: 800px;
    height: 400px;
  }
  #flipbook img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 510px;
  }
  #flipbook {
    width: 500px;
    height: 250px;
  }
  #flipbook img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 510px;
  }
  #flipbook {
    width: 400px;
    height: 200px;
  }
  #flipbook img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 380px;
  }
  #flipbook {
    width: 320px;
    height: 160px;
  }
  #flipbook img {
    width: 160px;
    height: 160px;
  }
}
